node_modules
.pytest_cache
.terraform
.terraform.tfstate.lock.info
credentials

# Terraform state and plan files
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.*
terraform-state-backup.json
review.tfplan
tfplan-new-account